<!--topnav-->
<div class="top-nav-bar">
    <mat-card class="logo-part">
        <i class="material-icons" style="font-size:40px;color:green;">eco</i>
        <input type="search" class="search" placeholder="search here" /><label for seacrh="seacrh" class="s-word">search</label>
            <div class="profile_pic_part">
                    <button class="button-pic" id="circle" onclick="show()"><div class="pic">
                      
                            <div class="mat-panel" id="mat-panel" >

                            </div>
            </div></button>
            <script>
                function show(){
            document.getElementById("mat-panel").style.display="block";
                }
            </script>
            <div class="user_pic"><i class="material-icons" style="width:80%;height:80%;">face</i></div>
            </div>
            <p class="title"><i class="material-icons">menu</i></p>
        </mat-card>
</div>
<!--topnav-->

<!--center-->
<div class="hold-calender">
<div class="big-center-div">
    <!--parts-->
    <div class="flex">
        <div class="first-div">
            <div class="inner-div1">
                <span class="dot1"></span>
                <span class="dot2"></span>
                <span class="dot3"></span>
                <span class="dot4"></span>
                <div class="inner-div2">
                    <img class="kapicha" src="assets/image/2.jpg" width="100%" height="100%" draggable="false"/>
                </div>
            </div>
            
            
        </div>
        <div class="second"></div>
    </div>
    <div class="flex">
        <div class="first-div">
            <div class="inner-div1">
                <span class="dot1"></span>
                <span class="dot2"></span>
                <span class="dot3"></span>
                <span class="dot4"></span>
                <div class="inner-div2">
                    <img class="kapicha" src="assets/image/5.jpg" width="100%" height="100%" draggable="false"/>
                </div>
            </div>
            </div>
        <div class="second"></div>
    </div>
    <div class="flex">
        <div class="first-div">
            <div class="inner-div1">
                <span class="dot1"></span>
                <span class="dot2"></span>
                <span class="dot3"></span>
                <span class="dot4"></span>
                <div class="inner-div2">
                    <img class="kapicha" src="assets/image/4.jpg" width="100%" height="100%" draggable="false"/>
                </div>
            </div>
            
        </div>
        <div class="second"></div>
    </div>
    <div class="flex">
        <div class="first-div">
            <div class="inner-div1">
                <span class="dot1"></span>
                <span class="dot2"></span>
                <span class="dot3"></span>
                <span class="dot4"></span>
                <div class="inner-div2"></div>
            </div>
        </div>
        <div class="second"></div>
    </div>
    <div class="flex">
        <div class="first-div">
            <div class="inner-div1">
                <span class="dot1"></span>
                <span class="dot2"></span>
                <span class="dot3"></span>
                <span class="dot4"></span>
                <div class="inner-div2"></div>
          </div>
        </div>
        <div class="second"></div>
    </div>
    <!--parts-->

</div>
<!--center-->
<!--caleder-->
<div class="calender"><p class="cal">Calender</p></div>
<!--caleder-->
<!--footer-->
</div>

<div class="footer_section"><h1 class="text">footer</h1></div>

<!--footer-->